body {
  margin: 0;
}

header{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 30px;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  gap: 1rem;
  width: 80%;
  margin: auto;
}

.loader {
  height: 150px;
  width: 150px;
}


.slider-viewport {
  position: relative;
  touch-action: pan-y;
  overflow: hidden;
  max-width: 800px;
}


.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;

  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  z-index: 4;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.slider-list {
  display: flex;
  flex-direction: row;
  transition: transform 0.6s ease-in-out;
  align-items: center;

}

.slider-list.is-loaded{
    margin-left: 50px;
}

.slider-list img {
  object-fit: cover;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.slider-list article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article .slide {
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: scale(0.8);
  opacity: 0.5;
  z-index: 1;
}

article.is-current .slide {
  transform: scale(1.1);
  opacity: 1;
  z-index: 3;
}

article.is-prev .slide,
article.is-next .slide {
  transform: scale(0.8);
  opacity: 0.7;
  z-index: 2;
}

article, .pagination button {
  opacity: 0;
  transform: translateY(20px);
}

article.is-visible, .pagination button.moveUp {
  animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider-list article h3 {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}

.slider-list article.is-current h3 {
  opacity: 1;
  font-size: 1.5rem;
  transform: translateY(0);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pagination button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.pagination button.is-active{
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.4);
}

.pagination button:focus-visible {
  outline: 2px solid black;
  outline-offset: 3px;
}


.buttons {
  margin: 0 30px;
}

button {
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
}

button:focus-visible {
  outline: 3px solid black;
  outline-offset: 4px;
}


footer{
  text-align: center;
} 

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

@media (min-width: 768px) {

  .slider-list.is-loaded{
    margin-left: 200px;
  }
 }


